<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 산하(1234@naver.com)님 환영합니다. -->
    <%=name%>(<%=email%>)님 환영합니다.

    <script>
        // console.log(email) -> 이건 프론트엔드 영역
    </script>


</body>
</html>