.container {
    position:relative;
    height: 500px;
    width: 500px;
    background-color: aqua;
}

.box {
    /* static이 기본값 */
    /* position: static; */
    width: 100px;
    height: 100px;
}



.item-1 {
    position: relative;
    top: 30px;
    left: 50px;
    background-color: red;
}

.item-2 {
    position: absolute;
    bottom: 100px;
    right: 30px;
    background-color: orange;
}

.item-3 {
    position: fixed;
    top: 100px;
    right: 100px;
    background-color: green;
}